@model IEnumerable<T04.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNascimente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.RA })
                @Html.ActionLink("Detalhes", "Details", new {  id=item.RA  }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.RA })
            </td>
        </tr>
}
    </tbody>
</table>
